# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.ipynb_checkpoints/

# Data and outputs
data/raw/
data/processed/
data/annotations/
data/graphs
reports/figs/
reports/*.csv
computations
debug*

# OS / IDE
.DS_Store
.idea/
.vscode/
